# R projects to ignore
*.RProj
# Don't download license
LICENCE

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

data_raw/filesToStack10093
data_raw/filesToStack10092
data_derived/
!data_derived/nymph_abun_all.Rdata
!data_derived/nymph_abun_test.Rdata
output/EDA_plots
# Don't download or upload anything containing MYC-- this is my working stuff
*MYC.R

# Don't upload small mammal data
data_raw/filesToStack10072

# Don't upload RData
machineLearnSpace.RData
data_raw/*
*filesToStack*
*.DS_Store

# don't upload Wynne's play data
About_GAMs.Rmd
time_series_play.R
data_raw/csale.rds
data_raw/new_credit_data.rds
TickTimeSeries_pois.Rmd
Time_Series_Tutorials*
tick_time_series.R
TickTimeSeries_03*

# Don't upload my bad scratch stuff
scratch